@import "~@angular/material/theming";

@include mat-core();

/* Primary theme */
$my-primary: mat-palette($mat-light-blue);
$my-accent: mat-palette($mat-light-green);
$my-warn: mat-palette($mat-red);

$my-theme: mat-light-theme($my-primary, $my-accent, $my-warn);
@include angular-material-theme($my-theme);

/* Dark theme */
$my-primary-dark: mat-palette($mat-light-blue, 100);
$my-accent-dark: mat-palette($mat-yellow);
$my-warn-dark: mat-palette($mat-red);

$my-dark-theme: mat-dark-theme(
  $my-primary-dark,
  $my-accent-dark,
  $my-warn-dark
);

.dark-theme-mode {
  @include angular-material-theme($my-dark-theme);
}
